* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 400;
  color: #202020;
  background-color: #efefec;
}

.page {
  max-width: 1440px;
  width: 1440px;
  display: block;
  margin: 0 auto;
}

.relative {
  position: relative;
}

.container, .container-second_section, .container-first_section, .container-bigger {
  max-width: 1170px;
  margin: 0 auto;
}
.container-bigger {
  max-width: 1350px;
}
.container-first_section {
  height: 900px;
}
.container-second_section {
  height: 836px;
}

.spasing-general {
  margin-bottom: 100px;
}
.spasing-book_author_name {
  margin: 77px 0 48px 0;
}
.spasing-lowergeneral {
  margin-bottom: 70px;
}

.book_name {
  position: absolute;
  width: 300px;
  top: -30px;
}

.tag_by_id {
  position: absolute;
  bottom: 1%;
  writing-mode: vertical-lr;
  rotate: 180deg;
}

.btn-add_to_cart {
  width: 36px;
  height: 40px;
}
.btn-add_to_cart:hover {
  cursor: pointer;
}
.btn-container {
  display: flex;
  align-items: center;
}
.btn-container:hover {
  cursor: pointer;
}

.img-basket {
  width: 32px;
  height: 36px;
}
.img-books_branch {
  height: 900px;
  position: absolute;
}
.img-sail_books {
  max-width: 272px;
  width: 100%;
}
.img-arrow {
  top: -26px;
  right: -10px;
  position: absolute;
}

.paragraf-rotate2023 {
  width: 74px;
  position: absolute;
  top: 6%;
  left: 43%;
  transform: translate(-93%, -57%);
  writing-mode: vertical-lr;
  rotate: 180deg;
}
.paragraf-bottom_place {
  width: 360px;
  direction: rtl;
  position: absolute;
  bottom: 0;
  right: 0;
}
.paragraf-shopAll {
  max-width: 272px;
  width: 100%;
  display: block;
  text-transform: uppercase;
}

.info-about_us_gr {
  display: grid;
  grid-template-columns: 1.3fr 0.9fr 1fr 1fr 1.2fr;
  grid-column-gap: 30px;
  text-align: center;
}

.montserat-Regular_green {
  color: #4d6649;
}
.montserat-Regular_black {
  font-size: 25px;
}
.montserat-Regular_green_small {
  font-size: 18px;
  color: #4d6649;
}
.montserat-Regular_black_title {
  font-size: 50px;
  text-transform: uppercase;
}
.montserat-SemiBold_black_main_title {
  font-size: 90px;
  font-weight: 600;
}
.montserat-SemiBold_green {
  font-size: 25px;
  font-weight: 600;
  color: #4d6649;
}
.montserat-SemiBold_black {
  font-size: 25px;
  font-weight: 600;
}

.inter, .inter-SemiBold_black, .inter-Light_black {
  font-family: "Inter", sans-serif;
  font-size: 30px;
  text-orientation: sideways;
  color: #202020;
}
.inter-Light_black {
  font-weight: 300;
}
.inter-SemiBold_black {
  font-weight: 600;
}

.title-place {
  width: 600px;
  text-transform: uppercase;
  position: absolute;
  top: 40%;
  left: 71%;
  transform: translate(-60%, -29%);
}

.nav {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  position: relative;
}
.menu-burger {
  width: 30px;
  height: 21px;
}
.menu-burger:hover {
  cursor: pointer;
}
.menu-burger span {
  width: 100%;
  height: 3px;
  display: block;
  position: relative;
  background-color: #202020;
}
.menu-burger span::before, .menu-burger span::after {
  content: "";
  width: 100%;
  height: 3px;
  position: absolute;
  left: 0;
  background-color: #202020;
}
.menu-burger span::after {
  bottom: 9px;
}
.menu-burger span::before {
  top: 9px;
}
.menu-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 400px;
  height: 100vh;
  display: block;
  transition: 0.5s;
  flex-direction: column;
  background-color: rgba(77, 102, 73, 0.04);
  transform: translateX(-99%);
  z-index: 1;
}
.menu-wrapper.active-wrap {
  transform: translateX(0);
  border-right: 2px solid #202020;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
}
.menu-listst {
  width: 100%;
  text-align: center;
  list-style-type: none;
}
.menu-listst:nth-child(1) {
  margin-top: 400px;
}
.menu-listst:hover {
  background-color: rgba(215, 215, 215, 0.4);
  transition: background-color 0.2s linear;
}
.menu-list-link {
  width: 100%;
  display: block;
  padding: 8px 0;
  text-decoration: none;
  color: #202020;
}
.menu-list-link.active-list {
  background-color: rgba(215, 215, 215, 0.4);
}

.logo {
  height: 38px;
}

.product-columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 30px;
}
.product-container {
  max-width: 390px;
  width: 100%;
  height: 675px;
  padding: 48px;
  border: 1px solid rgba(116, 116, 116, 0.3);
  background-color: #efefec;
  transition: transform 0.2s linear;
}
.product-container:hover {
  transform: scale(1.02);
}

.price_blok {
  display: grid;
  height: 40px;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 175px;
  align-items: end;
  justify-items: center;
}

.shopAll_center {
  width: 163px;
  left: 50%;
  transform: translate(-50%);
}

.catalog-nav {
  display: flex;
  justify-content: center;
  gap: 25px;
}
.catalog-nav-link {
  font-weight: 600;
  text-decoration: none;
  color: #202020;
}
.catalog-nav-link:hover {
  cursor: pointer;
}
.catalog-nav-link:focus {
  color: #4d6649;
  text-decoration: underline;
}/*# sourceMappingURL=style.css.map */