@charset "UTF-8";
/* Variables */
/* Reset Styles */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/*Text Styles*/
.montserat, .montserat-cardLi, .montserat-footer, .montserat-sail, .montserat-SemiBold_black, .montserat-SemiBold_green, .montserat-SemiBold_black_main_title, .montserat-Regular_black_title, .montserat-Regular_green_small, .montserat-Regular_black, .montserat-numbOfProduct, .montserat-Regular_green {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 400;
}
.montserat-Regular_green {
  color: #466042;
}
.montserat-numbOfProduct {
  font-size: 12px;
}
.montserat-Regular_black {
  font-size: 25px;
}
.montserat-Regular_green_small {
  font-size: 18px;
  color: #466042;
}
.montserat-Regular_black_title {
  font-size: 50px;
  text-transform: uppercase;
}
.montserat-SemiBold_black_main_title {
  font-size: 90px;
  font-weight: 600;
}
.montserat-SemiBold_green {
  font-size: 25px;
  font-weight: 600;
  color: #466042;
}
.montserat-SemiBold_black {
  font-size: 25px;
  font-weight: 600;
}
.montserat-sail {
  font-size: 18px;
  text-decoration: line-through;
}
.montserat-footer {
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}
.montserat-cardLi {
  font-size: 18px;
}

.inter, .inter-SemiBold_black, .inter-Light_black {
  font-family: "Inter", sans-serif;
  font-size: 30px;
  text-orientation: sideways;
  color: #2c2c2c;
}
.inter-Light_black {
  font-weight: 300;
}
.inter-SemiBold_black {
  font-weight: 600;
}

.title-place {
  width: 600px;
  text-transform: uppercase;
  position: absolute;
  top: 40%;
  left: 71%;
  transform: translate(-60%, -29%);
}

/* Global Styles */
body {
  color: #2c2c2c;
  background-color: #f0f0f0;
}

.page {
  max-width: 1440px;
  display: block;
  margin: 0 auto;
}

.relative {
  position: relative;
}

.container, .container-slider, .container-second_section, .container-first_section, .container-bigger {
  max-width: 1170px;
  height: auto;
  margin: 0 auto;
}
.container-bigger {
  max-width: 1350px;
}
.container-first_section {
  height: 900px;
}
.container-second_section {
  height: 836px;
}
.container-slider {
  max-width: 1298px;
}

.spasing-general {
  margin-bottom: 100px;
}
.spasing-book_author_name {
  margin: 77px 0 48px 0;
}
.spasing-lowergeneral {
  margin-bottom: 70px;
}
.spasing-slider {
  margin: 20px 16px 40px 16px;
  display: flex;
  justify-content: center;
}

.name-book {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  position: absolute;
  width: 300px;
  top: -30px;
}
.name-author {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 300px;
}

.tag_by_id {
  position: absolute;
  bottom: 1%;
  writing-mode: vertical-lr;
  rotate: 180deg;
  z-index: 10;
}

.shopping {
  position: relative;
  max-height: 40px;
}
.shopping-cart:hover {
  cursor: pointer;
}
.shopping-quantyty {
  background-color: #466042;
  position: absolute;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f0f0f0;
  bottom: -5px;
  right: -8px;
  padding: 2px 6px;
}
.shopping-list {
  position: fixed;
  top: 0;
  right: 0;
  width: 432px;
  height: -webkit-fill-available;
  display: block;
  transition: 0.3s;
  background-color: rgba(77, 102, 73, 0.04);
  transform: translateX(100%);
  border-left: 2px solid #2c2c2c;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  z-index: 1;
  overflow-y: scroll;
}
.shopping-list::-webkit-scrollbar {
  width: 2em;
}
.shopping-list h1 {
  margin: 21px 20px;
}
.shopping-list .checkout {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 20px;
}
.shopping-list .checkout div {
  background-color: #d7d7d7;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.shopping-list .checkout div:nth-child(2) {
  background-color: #466042;
  color: #f0f0f0;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.active-shopping {
  transform: translateX(9%);
}

.btn-add_to_cart {
  width: 36px;
  height: 40px;
}
.btn-add_to_cart:hover {
  cursor: pointer;
}
.btn-container {
  display: flex;
  align-items: center;
  position: relative;
  max-width: 390px;
  width: 100%;
  height: 675px;
  padding: 48px;
  background-color: #f0f0f0;
  transition: transform 0.2s linear;
  filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.25));
}
.btn-container:hover {
  cursor: pointer;
}
.btn-show_more {
  display: block;
  margin: 0 auto;
  font-weight: 600;
  text-decoration: underline;
  cursor: pointer;
}
.btn-show_more:before {
  cursor: pointer;
  content: "show more";
}
.btn-show_more:hover {
  cursor: pointer;
  color: #466042;
}
.btn-show_less {
  display: block;
  margin: 0 auto;
  font-weight: 600;
  cursor: pointer;
}
.btn-show_less:before {
  cursor: pointer;
  content: "show less";
}
.btn-show_less:hover {
  cursor: pointer;
  color: #466042;
  text-decoration: underline;
}

.img-main_sail_cart {
  font-size: 38px;
  color: #2c2c2c;
}
.img-books_branch {
  height: 900px;
  position: absolute;
}
.img-sail_books {
  max-width: 272px;
  max-height: 377px;
  width: 100%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.img-arrow {
  top: -26px;
  right: -10px;
  position: absolute;
}
.img-sail_cart {
  font-size: 38px;
}
.img-sail_cart:hover {
  color: #466042;
}
.img-link {
  text-decoration: none;
}
.img-logo {
  font-size: 40px;
  color: #2c2c2c;
  float: left;
  margin-right: 110px;
}

.paragraf-rotate2023 {
  width: 74px;
  position: absolute;
  top: 6%;
  left: 43%;
  transform: translate(-93%, -57%);
  writing-mode: vertical-lr;
  rotate: 180deg;
}
.paragraf-bottom_place {
  width: 360px;
  direction: rtl;
  position: absolute;
  bottom: 0;
  right: 0;
}
.paragraf-shopAll {
  max-width: 272px;
  width: 100%;
  display: block;
  text-transform: uppercase;
}

.info-about_us_gr {
  display: grid;
  grid-template-columns: 0.6fr 0.6fr 0.6fr 0.8fr;
  grid-column-gap: 30px;
  text-align: center;
}

.d_none {
  display: none;
}

.product-columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 30px;
}
.product-container, .product-container-ctlg {
  position: relative; /* Встановлюємо позицію relative для елемента */
  max-width: 390px;
  width: 100%;
  height: 675px;
  padding: 48px;
  background-color: #f0f0f0;
  transition: transform 0.2s linear;
  filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.25));
}
.product-container:hover, .product-container-ctlg:hover {
  transform: scale(1.02);
}
.price_blok {
  display: grid;
  position: relative;
  height: 40px;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 175px;
  align-items: end;
  justify-items: center;
}

.shopAll_center {
  width: 163px;
  left: 50%;
  transform: translate(-50%);
}

.sail {
  position: absolute;
  top: 40%;
  left: 22%;
}

.hide {
  opacity: 1;
  animation-name: a1;
  animation-fill-mode: forwards;
}

/*Header Styles*/
.nav {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  position: relative;
}
.menu-burger {
  width: 30px;
  height: 21px;
}
.menu-burger:hover {
  cursor: pointer;
}
.menu-burger span {
  width: 100%;
  height: 3px;
  display: block;
  position: relative;
  background-color: #2c2c2c;
}
.menu-burger span::before, .menu-burger span::after {
  content: "";
  width: 100%;
  height: 3px;
  position: absolute;
  left: 0;
  background-color: #2c2c2c;
}
.menu-burger span::after {
  bottom: 9px;
}
.menu-burger span::before {
  top: 9px;
}
.menu-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 400px;
  height: -webkit-fill-available;
  display: block;
  transition: 0.3s;
  flex-direction: column;
  background-color: rgba(77, 102, 73, 0.04);
  transform: translateX(-100%);
  border-right: 2px solid #2c2c2c;
  z-index: 1;
}
.menu-wrapper.active-wrap {
  transform: translateX(0);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
}
.menu-listst {
  width: 100%;
  text-align: center;
  list-style-type: none;
}
.menu-listst:nth-child(1) {
  margin-top: 400px;
}
.menu-listst:hover {
  background-color: rgba(215, 215, 215, 0.4);
  transition: background-color 0.2s linear;
}
.menu-list-link {
  width: 100%;
  display: block;
  padding: 8px 0;
  text-decoration: none;
  color: #2c2c2c;
}
.menu-list-link.active-list {
  background-color: rgba(215, 215, 215, 0.4);
}

.logo {
  height: 38px;
}

/*Cart list Styles*/
@keyframes a1 {
  to {
    opacity: 0.5;
  }
}
.shopping-listCard li {
  height: 72px;
  position: relative;
  border-top: 1px solid #2c2c2c;
  border-bottom: 1px solid #2c2c2c;
  margin-bottom: 10px;
  list-style-type: none;
}

.cart_list-img {
  height: 70px;
  padding: 0 20px;
}
.cart_list-text_block {
  position: absolute;
  top: 13px;
  left: 90px;
}
.cart_list-book_name {
  max-width: 212px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.cart_list-MrLss_block {
  display: flex;
  position: absolute;
  align-items: center;
  top: 50%;
  right: 8%;
  transform: translateY(-50%);
}
.cart_list-MrLss_block_style {
  background-color: rgba(0, 0, 0, 0);
  font-size: 25px;
}
.cart_list-MrLss_block_style:hover {
  cursor: pointer;
}
.cart_list-count {
  font-size: 20px;
  padding: 0 10px;
}

/*Catalog navigation Styles*/
.catalog-nav {
  display: flex;
  justify-content: center;
  gap: 25px;
}
.catalog-nav-list {
  font-weight: 600;
  text-decoration: none;
  color: #2c2c2c;
  list-style-type: none;
  text-align: center;
}
.catalog-nav-list:hover {
  cursor: pointer;
}
.catalog-nav-active {
  color: #466042;
  text-decoration: underline;
}

/*Advertising Styles*/
.advertising_block {
  width: 100%;
  max-height: 402px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.advertising_block:hover {
  cursor: pointer;
}
.advertising_block-column {
  width: 100%;
  max-height: 402px;
  position: relative;
}
.advertising_block-column:nth-child(1) {
  border: 1px solid rgba(116, 116, 116, 0.3);
  border-right: none;
}
.advertising_block-column:nth-child(2) {
  border: 1px solid rgba(116, 116, 116, 0.3);
  border-left: none;
  overflow: hidden;
}
.advertising_block-paragraph {
  width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}

/*Footer Styles*/
.footer {
  background-color: #e6e6e6;
  padding: 118px 0;
}
.footer-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}
.footer-link {
  text-decoration: none;
}
.footer-link i {
  font-size: 60px;
}
.footer-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-nav a {
  color: #2c2c2c;
  transition: all 0.2s linear;
}
.footer-nav a:hover {
  color: #466042;
}
.footer-contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.footer-contacts a {
  color: #2c2c2c;
  transition: all 0.2s linear;
}
.footer-contacts a:hover {
  color: #466042;
}

/*Slider Styles*/
.slick-slider {
  position: relative;
}
.slick-list {
  overflow: hidden;
}
.slick-track {
  display: flex;
  align-items: flex-start;
}
.slick-arrow {
  position: absolute;
  top: 50%;
  font-size: 0;
  width: 40px;
  height: 18px;
  margin-top: -9px;
}
.slick-arrow:hover {
  cursor: pointer;
}
.slick-arrow.slick-prev {
  left: -5%;
  background: url("../Images/SVG_Icons/Arrow_Slider_left.svg") 0 0/100% no-repeat;
}
.slick-arrow.slick-next {
  right: -5%;
  background: url("../Images/SVG_Icons/Arrow_Slider_right.svg") 0 0/100% no-repeat;
}

/*Pop up Styles*/
.popup-overlay {
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
}

.popup-container {
  background-color: #f0f0f0;
  padding: 30px 30px 60px;
  max-width: 350px;
  width: 100%;
  border-radius: 4px;
  position: relative;
}

.expireCVV {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.form-group {
  margin-bottom: 15px;
  text-align: center;
}
.form-group label {
  display: block;
  font-weight: 600;
  margin-bottom: 5px;
}
.form-group input[type=text] {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  background-color: #f0f0f0;
  border: 1px solid rgba(116, 116, 116, 0.3);
  color: #747474;
}
.form-group input[type=text]::-moz-placeholder {
  color: rgba(116, 116, 116, 0.3);
}
.form-group input[type=text]::placeholder {
  color: rgba(116, 116, 116, 0.3);
}
.form-group input[id=card-number] {
  width: 100%;
  padding: 10px 60px 10px 10px;
  font-size: 18px;
  background-color: #f0f0f0;
  border: 1px solid rgba(116, 116, 116, 0.3);
}

.button-container {
  text-align: right;
}

.pay-button {
  position: absolute;
  padding: 10px 30px;
  border: none;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #466042;
  color: #f0f0f0;
  cursor: pointer;
  transition: all 0.2s linear;
}
.pay-button:hover {
  color: #466042;
  background-color: rgba(215, 215, 215, 0.4);
}
.pay-button.wrong_amount {
  background-color: #ff2b2b;
  animation: wrongAM 0.3s linear 5 1s;
  pointer-events: none;
}

@keyframes wrongAM {
  0% {
    transform: translateX(-50%);
  }
  30% {
    transform: translateX(-55%);
  }
  60% {
    transform: translateX(-50%);
  }
  90% {
    transform: translateX(-45%);
  }
  100% {
    transform: translateX(-50%);
  }
}
.close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: transparent;
  border: none;
  color: #2c2c2c;
  font-size: 18px;
}
.close-button:before {
  content: "X";
  font-weight: 600;
  cursor: pointer;
}

#amount {
  color: #2c2c2c;
  background-color: rgba(215, 215, 215, 0.4);
  padding: 8px;
  border: none;
  font-weight: bold;
  pointer-events: none;
}

.spinner-loader {
  width: 40px;
  height: 40px;
  border: 4px solid #f0f0f0;
  border-top: 4px solid #466042;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  position: absolute;
  bottom: 15px;
  left: 46%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*Media Styles*/
@media screen and (max-width: 1430px) {
  .container, .container-bigger, .container-first_section, .container-second_section, .container-slider {
    max-width: 990px;
  }
  .container-bigger {
    max-width: 1050px;
  }
  .container-slider {
    max-width: 930px;
  }
  .btn-container {
    position: absolute;
    bottom: 0;
    width: 120px;
    height: 0;
    padding: 0;
    background-color: none;
    transition: none;
    filter: none;
    cursor: pointer;
  }
  .catalog-nav {
    flex-wrap: wrap;
  }
  .paragraf-shopAll {
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    text-decoration: underline;
    text-transform: lowercase;
  }
  .paragraf-shopAll:hover {
    color: #466042;
  }
  .product-columns {
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    position: relative;
    padding-bottom: 50px;
  }
  .img-arrow {
    display: none;
  }
  .shopAll_center {
    top: 0;
  }
}
@media screen and (max-width: 1065px) {
  .container, .container-bigger, .container-first_section, .container-second_section, .container-slider {
    max-width: 665px;
  }
  .container-bigger {
    max-width: 765px;
  }
  .container-slider {
    max-width: 760px;
  }
  .info-about_us_gr {
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    grid-template-rows: 1fr 1fr;
    align-items: center;
  }
  .img-sail_books {
    max-width: 230px;
    max-height: 316px;
  }
  .img-books_branch {
    height: 690px;
  }
  .product-columns {
    grid-row-gap: 50px;
    gap: 30px;
  }
  .product-container, .product-container-ctlg {
    max-width: 320px;
    width: 100%;
    height: 570px;
    padding: 45px;
  }
  .img-sail_books {
    max-width: 240px;
    max-height: 335px;
  }
  .spasing-book_author_name {
    margin: 50px 0 37px 0;
  }
  .price_blok {
    grid-column-gap: 150px;
  }
  .name-book {
    width: 244px;
  }
}
@media screen and (max-width: 840px) {
  .container, .container-bigger, .container-first_section, .container-second_section, .container-slider {
    max-width: 475px;
  }
  .container-bigger {
    max-width: 455px;
  }
  .container-slider {
    max-width: 280px;
  }
  .spasing-general {
    margin-bottom: 70px;
  }
  .btn-add_to_cart {
    width: 26px;
    height: 26px;
  }
  .name-book {
    width: 160px;
    top: -20px;
  }
  .name-author {
    width: 160px;
  }
  .menu-wrapper {
    width: 541px;
  }
  .menu-listst:nth-child(1) {
    margin-top: 300px;
  }
  .img-books_branch {
    width: 100%;
  }
  .img-sail_books {
    max-width: 150px;
    max-height: 208px;
  }
  .img-sail_cart {
    font-size: 28px;
  }
  .img-logo {
    font-size: 30px;
    margin-right: 20px;
  }
  .paragraf-shopAll {
    max-width: 80px;
  }
  .paragraf-rotate2023 {
    width: 21px;
    top: 12%;
    left: 75%;
    transform: translate(-25%, -88%);
  }
  .montserat, .montserat-Regular_green, .montserat-numbOfProduct, .montserat-Regular_black, .montserat-Regular_green_small, .montserat-Regular_black_title, .montserat-SemiBold_black_main_title, .montserat-SemiBold_green, .montserat-SemiBold_black, .montserat-sail, .montserat-footer, .montserat-cardLi {
    font-size: 20px;
  }
  .montserat-numbOfProduct {
    font-size: 10px;
  }
  .montserat-Regular_black {
    font-size: 18px;
  }
  .montserat-Regular_green_small {
    font-size: 14px;
  }
  .montserat-Regular_black_title {
    font-size: 30px;
  }
  .montserat-SemiBold_black_main_title {
    font-size: 50px;
  }
  .montserat-SemiBold_green {
    font-size: 18px;
  }
  .montserat-SemiBold_black {
    font-size: 18px;
  }
  .montserat-sail {
    font-size: 14px;
  }
  .montserat-footer {
    font-size: 16px;
  }
  .montserat-cardLi {
    font-size: 14px;
  }
  .inter, .inter-Light_black, .inter-SemiBold_black {
    font-size: 20px;
  }
  .title-place {
    width: 330px;
    top: 30%;
    left: 45%;
    transform: translate(-55%, -70%);
  }
  .product-columns {
    grid-row-gap: 30px;
    gap: 15px;
    padding-bottom: 0;
  }
  .product-container, .product-container-ctlg {
    max-width: 224px;
    height: 404px;
    padding: 36px;
  }
  .price_blok {
    height: 26px;
    grid-column-gap: 90px;
  }
  .shopAll_center {
    width: 80px;
    top: 30px;
  }
  .footer {
    padding: 100px 0;
  }
  .footer-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .footer-link {
    width: 100%;
    padding-bottom: 50px;
    align-self: center;
    text-align: center;
  }
  .footer-link i {
    font-size: 60px;
  }
  .advertising_block {
    max-height: 250px;
  }
  .advertising_block-column {
    max-height: 250px;
  }
  .advertising_block-column > img {
    display: none;
  }
  .advertising_block-column:nth-child(2) {
    height: 250px;
    background: url(../Images/Store_images/JhonBook_Barnch.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: -20px;
  }
  .advertising_block-paragraph {
    left: 53%;
    transform: translate(-47%, -50%);
  }
  .slick-arrow.slick-next {
    right: -10%;
  }
  .slick-arrow.slick-prev {
    left: -10%;
  }
}
@media screen and (max-width: 540px) {
  .container, .container-bigger, .container-first_section, .container-second_section, .container-slider {
    max-width: 350px;
  }
  .container-bigger {
    max-width: 340px;
  }
  .container-slider {
    max-width: 200px;
  }
  .spasing-general {
    margin-bottom: 50px;
  }
  .spasing-book_author_name {
    margin: 20px 0 5px 0;
  }
  .montserat, .montserat-Regular_green, .montserat-numbOfProduct, .montserat-Regular_black, .montserat-Regular_green_small, .montserat-Regular_black_title, .montserat-SemiBold_black_main_title, .montserat-SemiBold_green, .montserat-SemiBold_black, .montserat-sail, .montserat-footer, .montserat-cardLi {
    font-size: 18px;
  }
  .montserat-numbOfProduct {
    font-size: 10px;
  }
  .montserat-Regular_black {
    font-size: 14px;
  }
  .montserat-Regular_green_small {
    font-size: 12px;
  }
  .montserat-Regular_black_title {
    font-size: 18px;
  }
  .montserat-SemiBold_black_main_title {
    font-size: 50px;
  }
  .montserat-SemiBold_green {
    font-size: 14px;
  }
  .montserat-SemiBold_black {
    font-size: 14px;
  }
  .montserat-sail {
    font-size: 12px;
  }
  .montserat-footer {
    font-size: 14px;
  }
  .montserat-cardLi {
    font-size: 12px;
  }
  .inter, .inter-Light_black, .inter-SemiBold_black {
    font-size: 20px;
  }
  .title-place {
    top: 25%;
    left: 50%;
    transform: translate(-50%, -75%);
  }
  .paragraf-rotate2023 {
    top: 85%;
    left: 3%;
    transform: translate(-97%, -15%);
  }
  .paragraf-bottom_place {
    width: 240px;
    right: 30px;
  }
  .product-container, .product-container-ctlg {
    max-width: 155px;
    height: 251px;
    padding: 28px;
  }
  .menu-wrapper {
    width: 376px;
  }
  .menu-listst:nth-child(1) {
    margin-top: 285px;
  }
  .shopping-list {
    width: 415px;
  }
  .img-sail_books {
    max-width: 99px;
    max-height: 137px;
  }
  .img-logo {
    font-size: 30px;
    margin-right: 10px;
  }
  .img-main_sail_cart {
    font-size: 28px;
  }
  .img-sail_cart {
    font-size: 20px;
  }
  .img-books_branch {
    height: -moz-fit-content;
    height: fit-content;
    position: absolute;
    top: 20%;
  }
  .name-book {
    width: 110px;
    top: -16px;
  }
  .name-author {
    width: 110px;
  }
  .price_blok {
    height: 26px;
    grid-column-gap: 47px;
  }
  .sail {
    left: 30%;
  }
  .advertising_block-column:nth-child(2) {
    height: 185px;
    background-position-x: -40px;
  }
  .footer-link i {
    font-size: 40px;
  }
  .slick-arrow.slick-next {
    right: -20%;
  }
  .slick-arrow.slick-prev {
    left: -20%;
  }
}/*# sourceMappingURL=style.css.map */