$black: #202020;
$LeafyGreen: #4D6649;
$WhiteCol: #EFEFEC;
$GreyCol: #747474;
$LightGrey: #d7d7d7;
$DarkerWhite: #E6E6E6;
$TransparentWhite: rgba(239, 239, 236, 0.49);
$TransparentLeafyGreen: rgba(77, 102, 73, 0.04);
$TransparentGrey: rgba(116, 116, 116, 0.3);


// ------------------------------------------------------------------------------COMMON MAIN STYLES------------------------------------------------------------------------------


* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

body {
    background-color: $WhiteCol;
}
 
.page {
    max-width: 1440px;
    width: 1440px;
    display: block;
    margin: 0 auto;
}

.relative {
    position: relative;
}

.container {
    max-width: 1170px;
    margin: 0 auto;

    &-bigger {
        max-width: 1350px;
        @extend .container;
    }

    &-first_section {
        height: 900px;
        @extend .container;
    }

    &-second_section {
        height: 836px;
        @extend .container;
    }
}

.spasing {
    &-general {
        margin-bottom: 100px;
    }

    &-book_author_name {
        margin: 48px 0;
    }

    &-lowergeneral {
        margin-bottom: 70px;
    }
}

.tag_by_id {
    position: absolute;
    bottom: 1%;
    writing-mode: vertical-lr;
    rotate: (180deg);

}

.btn {
    &-add_to_cart {
        &:hover {
            cursor: pointer;
        }
    }

    &-container {
        display: flex;
        align-items: center;

        &:hover {
            cursor: pointer;
        }
    }
}

.img {
    &-basket {
        width: 32px;
        height: 36px;
    }

    &-books_branch {
        height: 900px;
        position: absolute;
    }

    &-sail_books {
        max-width: 272px;
        width: 100%;
    }

    &-arrow {
        top: -26px;
        right: -10px;
        position: absolute;
    }
}

.paragraf {
    
    &-rotate2023{
        width: 74px;
        position: absolute;
        top: 6%;
        left: 43%;
        transform: translate(-93%, -57%);
        writing-mode: vertical-lr;
        rotate: (180deg);
    }

    &-bottom_place {
        width: 360px;
        direction: rtl;
        position: absolute;
        bottom:  0;
        right: 0;
    }

    &-shopAll {
        max-width: 272px;
        width: 100%;
        display: block;
        text-transform: uppercase;
    }

}

.info{
    &-about_us_gr{
        display: grid;
        grid-template-columns: 1.3fr 0.9fr 1fr 1fr 1.2fr;
        grid-column-gap: 30px; 
        text-align: center;
    }
} 

// ------------------------------------------------------------------------------TEXT STYLES------------------------------------------------------------------------------


.montserat {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 400;
    color: $black;

    &-Regular_green {
        @extend .montserat;
        color: $LeafyGreen;
    }

    &-Regular_black {
        @extend .montserat;
        font-size: 25px;
    }

    &-Regular_green_small {
        @extend .montserat;
        font-size: 18px;
        color: $LeafyGreen;
    }

    &-Regular_black_title {
        @extend .montserat;
        font-size: 50px;
        text-transform: uppercase;
    }

    &-SemiBold_black_main_title {
        @extend .montserat;
        font-size: 90px;
        font-weight: 600;
    }

    &-SemiBold_green {
        @extend .montserat;
        font-size: 25px;
        font-weight: 600;
        color: $LeafyGreen;
    }

    &-SemiBold_black {
        @extend .montserat;
        font-size: 25px;
        font-weight: 600;
    }
}

.inter{
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    text-orientation: sideways;
    color: $black;

    &-Light_black {
        @extend .inter;
        font-weight: 300;
    }

    &-SemiBold_black {
        @extend .inter;
        font-weight: 600;
    }
}
// transition: background-size .2s linear;
.title {
    
    &-place {
        width: 600px;
        text-transform: uppercase;
        position: absolute;
        top:  40%;
        left: 71%;
        transform: translate(-60%, -29%);
    }
}


// ------------------------------------------------------------------------------HEADER------------------------------------------------------------------------------


.nav {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu{
    &-wrapper {
        position: relative;
    }

    &-burger {
        width: 30px;
        height: 21px;

        &:hover {
            cursor: pointer;
        }

        span {
            width: 100%;
            height: 3px;
            display: block;
            position: relative;
            background-color: $black;

            &::before, &::after {
                content: "";
                width: 100%;
                height: 3px;
                position: absolute;
                left: 0;
                background-color: $black;
            }

            &::after {
                bottom: 9px;
            }

            &::before {
                top: 9px;
            }
        }
    }

    &-list{
        position: fixed;
        top: 0;
        left: 0;
        width: 400px;
        height: 300vh;
        display: block;
        transition: 0.5s;
        flex-direction: column;
        border-right: 2px solid $black;
        background-color: $TransparentLeafyGreen;
        backdrop-filter: blur(15px);
        transform: translateX(-100%);
        z-index: 1;

        &.active {
            transform: translateX(0);
        }

        .listst {
            width: 100%;
            padding: 8px 0;
            text-align: center;
            list-style-type: none;

            &:nth-child(1) {
                margin-top: 400px;
            }

            &:hover {
                background-color: $LightGrey;
                transition: background-color .2s linear;
            }

            .link {
                width: 100%;
                display: block;
                text-decoration: none;
                color: $black;
            }
        }
    }
}

.logo {
    height: 38px;
}

.basket {

}


// ------------------------------------------------------------------------------SECTION 2------------------------------------------------------------------------------


.product {

    &-columns{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 30px; 
    }

    &-container{
        max-width: 390px;
        width: 100%;
        height: 675px;
        padding: 48px;
        border: 1px solid $TransparentGrey;
        background-color: $WhiteCol;
        transition: transform 0.2s linear;

        &:hover {
            transform: scale(1.05);
        }

    }
}

.price_blok {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 175px;
    align-items: end;
}

.shopAll_center {
    width: 163px;  
    left: 50%;
    transform: translate(-50%);
}