$black: #2c2c2c;
$LeafyGreen: #466042;
$WhiteCol: #f0f0f0;
$GreyCol: #747474;
$LightGrey: #d7d7d7;
$DarkerWhite: #e6e6e6;
$TransparentWhite: rgba(239, 239, 236, 0.49);
$TransparentLeafyGreen: rgba(77, 102, 73, 0.04);
$TransparentGrey: rgba(116, 116, 116, 0.3);
$TransparentLightGrey: rgba(215, 215, 215, 0.4);
$Invisible: rgba(215, 215, 215, 0);
$Red: #ff2b2b;

// ------------------------------------------------------------------------------COMMON MAIN STYLES------------------------------------------------------------------------------

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  color: $black;
  background-color: $WhiteCol;
}

.page {
  max-width: 1440px;
  display: block;
  margin: 0 auto;
  // overflow: hidden;
}

.relative {
  position: relative;
}

.container {
  max-width: 1170px;
  height: auto;
  margin: 0 auto;

  &-bigger {
    max-width: 1350px;
    @extend .container;
  }

  &-first_section {
    height: 900px;
    @extend .container;
  }

  &-second_section {
    height: 836px;
    @extend .container;
  }

  &-slider {
    max-width: 1298px;
    @extend .container;
  }
}

.spasing {
  &-general {
    margin-bottom: 100px;
  }

  &-book_author_name {
    margin: 77px 0 48px 0;
  }

  &-lowergeneral {
    margin-bottom: 70px;
  }
  &-slider {
    margin: 20px 16px 40px 16px;
    display: flex;
    justify-content: center;
  }
}

.name {
  &-book {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    position: absolute;
    width: 300px;
    top: -30px;
  }

  &-author {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 300px;
  }
}

.tag_by_id {
  position: absolute;
  bottom: 1%;
  writing-mode: vertical-lr;
  rotate: (180deg);
  z-index: 10;
}

.shopping {
  position: relative;
  max-height: 40px;

  &-cart {
    &:hover {
      cursor: pointer;
    }
  }

  &-quantyty {
    background-color: $LeafyGreen;
    position: absolute;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $WhiteCol;
    bottom: -5px;
    right: -8px;
    padding: 2px 6px;
  }

  &-list {
    position: fixed;
    top: 0;
    right: 0;
    width: 432px;
    height: -webkit-fill-available;
    display: block;
    transition: 0.3s;
    background-color: $TransparentLeafyGreen;
    transform: translateX(100%);
    border-left: 2px solid $black;
    backdrop-filter: blur(15px);
    z-index: 1;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      width: 2em;
    }

    & h1 {
      margin: 21px 20px;
    }

    & .checkout {
      position: absolute;
      bottom: 0;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      margin-top: 20px;

      & div {
        background-color: $LightGrey;
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }

      & div:nth-child(2) {
        background-color: $LeafyGreen;
        color: $WhiteCol;
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }
    }
  }
}

.active-shopping {
  transform: translateX(9%);
}

.btn {
  &-add_to_cart {
    width: 36px;
    height: 40px;
    &:hover {
      cursor: pointer;
    }
  }

  &-container {
    display: flex;
    align-items: center;
    position: relative;
    max-width: 390px;
    width: 100%;
    height: 675px;
    padding: 48px;
    background-color: #f0f0f0;
    transition: transform 0.2s linear;
    filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.25));

    &:hover {
      cursor: pointer;
    }
  }

  &-show_more {
    display: block;
    margin: 0 auto;
    font-weight: 600;
    text-decoration: underline;
    cursor: pointer;
    &:before {
      cursor: pointer;
      content: "show more";
    }

    &:hover {
      cursor: pointer;
      color: $LeafyGreen;
    }
  }

  &-show_less {
    display: block;
    margin: 0 auto;
    font-weight: 600;
    cursor: pointer;
    &:before {
      cursor: pointer;
      content: "show less";
    }

    &:hover {
      cursor: pointer;
      color: $LeafyGreen;
      text-decoration: underline;
    }
  }
}

.img {
  &-main_sail_cart {
    font-size: 38px;
    color: $black;
  }

  &-books_branch {
    height: 900px;
    position: absolute;
  }

  &-sail_books {
    max-width: 272px;
    max-height: 377px;
    width: 100%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
      rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  }

  &-arrow {
    top: -26px;
    right: -10px;
    position: absolute;
  }

  &-sail_cart {
    font-size: 38px;
    &:hover {
      color: $LeafyGreen;
    }
  }

  &-link {
    text-decoration: none;
  }

  &-logo {
    font-size: 40px;
    color: $black;
    float: left;
    margin-right: 110px;
  }
}

.paragraf {
  &-rotate2023 {
    width: 74px;
    position: absolute;
    top: 6%;
    left: 43%;
    transform: translate(-93%, -57%);
    writing-mode: vertical-lr;
    rotate: (180deg);
  }

  &-bottom_place {
    width: 360px;
    direction: rtl;
    position: absolute;
    bottom: 0;
    right: 0;
  }

  &-shopAll {
    max-width: 272px;
    width: 100%;
    display: block;
    text-transform: uppercase;
  }
}

.info {
  &-about_us_gr {
    display: grid;
    grid-template-columns: 0.6fr 0.6fr 0.6fr 0.8fr;
    grid-column-gap: 30px;
    text-align: center;
  }
}

.d_none {
  display: none;
}

// ------------------------------------------------------------------------------TEXT STYLES------------------------------------------------------------------------------

.montserat {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 400;

  &-Regular_green {
    @extend .montserat;
    color: $LeafyGreen;
  }

  &-numbOfProduct {
    @extend .montserat;
    font-size: 12px;
  }

  &-Regular_black {
    @extend .montserat;
    font-size: 25px;
  }

  &-Regular_green_small {
    @extend .montserat;
    font-size: 18px;
    color: $LeafyGreen;
  }

  &-Regular_black_title {
    @extend .montserat;
    font-size: 50px;
    text-transform: uppercase;
  }

  &-SemiBold_black_main_title {
    @extend .montserat;
    font-size: 90px;
    font-weight: 600;
  }

  &-SemiBold_green {
    @extend .montserat;
    font-size: 25px;
    font-weight: 600;
    color: $LeafyGreen;
  }

  &-SemiBold_black {
    @extend .montserat;
    font-size: 25px;
    font-weight: 600;
  }

  &-sail {
    @extend .montserat;
    font-size: 18px;
    text-decoration: line-through;
  }

  &-footer {
    @extend .montserat;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
  }

  &-cardLi {
    @extend .montserat;
    font-size: 18px;
  }
}

.inter {
  font-family: "Inter", sans-serif;
  font-size: 30px;
  text-orientation: sideways;
  color: $black;

  &-Light_black {
    @extend .inter;
    font-weight: 300;
  }

  &-SemiBold_black {
    @extend .inter;
    font-weight: 600;
  }
}
// transition: background-size .2s linear;
.title {
  &-place {
    width: 600px;
    text-transform: uppercase;
    position: absolute;
    top: 40%;
    left: 71%;
    transform: translate(-60%, -29%);
  }
}

// ------------------------------------------------------------------------------HEADER------------------------------------------------------------------------------

.nav {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  position: relative;

  &-burger {
    width: 30px;
    height: 21px;

    &:hover {
      cursor: pointer;
    }

    span {
      width: 100%;
      height: 3px;
      display: block;
      position: relative;
      background-color: $black;

      &::before,
      &::after {
        content: "";
        width: 100%;
        height: 3px;
        position: absolute;
        left: 0;
        background-color: $black;
      }

      &::after {
        bottom: 9px;
      }

      &::before {
        top: 9px;
      }
    }
  }

  &-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 400px;
    height: -webkit-fill-available;
    display: block;
    transition: 0.3s;
    flex-direction: column;
    background-color: $TransparentLeafyGreen;
    transform: translateX(-100%);
    border-right: 2px solid $black;
    z-index: 1;
    &.active-wrap {
      transform: translateX(0);
      backdrop-filter: blur(15px);
    }
  }

  &-listst {
    width: 100%;
    text-align: center;
    list-style-type: none;

    &:nth-child(1) {
      margin-top: 400px;
    }

    &:hover {
      background-color: $TransparentLightGrey;
      transition: background-color 0.2s linear;
    }
  }

  &-list-link {
    width: 100%;
    display: block;
    padding: 8px 0;
    text-decoration: none;
    color: $black;

    &.active-list {
      background-color: $TransparentLightGrey;
    }
  }
}

.logo {
  height: 38px;
}

// .basket {
// }

// ------------------------------------------------------------------------------SECTION 2------------------------------------------------------------------------------

.product {
  &-columns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 30px;
  }

  &-container {
    position: relative; /* Встановлюємо позицію relative для елемента */
    max-width: 390px;
    width: 100%;
    height: 675px;
    padding: 48px;
    background-color: $WhiteCol;
    transition: transform 0.2s linear;
    // border: 1px solid $TransparentLightGrey;
    filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.25));

    &:hover {
      transform: scale(1.02);
    }

    &-ctlg {
      @extend .product-container;
    }
  }
}

.price_blok {
  display: grid;
  position: relative;
  height: 40px;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 175px;
  align-items: end;
  justify-items: center;
}

.shopAll_center {
  width: 163px;
  left: 50%;
  transform: translate(-50%);
}

.sail {
  position: absolute;
  top: 40%;
  left: 22%;
}

// ------------------------------------------------------------------------------SECTION 4------------------------------------------------------------------------------

.catalog-nav {
  display: flex;
  justify-content: center;
  gap: 25px;
  &-list {
    font-weight: 600;
    text-decoration: none;
    color: $black;
    list-style-type: none;
    text-align: center;
    &:hover {
      cursor: pointer;
    }
  }
  &-active {
    color: $LeafyGreen;
    text-decoration: underline;
  }
}

// ------------------------------------------------------------------------------SECTION 5------------------------------------------------------------------------------

.advertising_block {
  width: 100%;
  max-height: 402px;
  display: grid;
  grid-template-columns: 1fr 1fr;

  &:hover {
    cursor: pointer;
  }

  &-column {
    width: 100%;
    max-height: 402px;
    position: relative;
    &:nth-child(1) {
      border: 1px solid $TransparentGrey;
      border-right: none;
    }
    &:nth-child(2) {
      border: 1px solid $TransparentGrey;
      border-left: none;
      overflow: hidden;
    }
  }

  &-paragraph {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
  }
}

// ------------------------------------------------------------------------------SECTION 6------------------------------------------------------------------------------

.slick {
  &-slider {
    position: relative;
  }
  &-list {
    overflow: hidden;
  }
  &-track {
    display: flex;
    align-items: flex-start;
  }
  &-arrow {
    position: absolute;
    top: 50%;
    font-size: 0;
    width: 40px;
    height: 18px;
    margin-top: -9px;

    &:hover {
      cursor: pointer;
    }

    &.slick-prev {
      left: -5%;
      background: url("../Images/SVG_Icons/Arrow_Slider_left.svg") 0 0 / 100%
        no-repeat;
    }

    &.slick-next {
      right: -5%;
      background: url("../Images/SVG_Icons/Arrow_Slider_right.svg") 0 0 / 100%
        no-repeat;
    }
  }
}

// ------------------------------------------------------------------------------SECTION 7------------------------------------------------------------------------------

.footer {
  background-color: $DarkerWhite;
  padding: 118px 0;

  &-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
  }

  &-link {
    text-decoration: none;

    & i {
      font-size: 60px;
    }
  }

  &-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    & a {
      color: $black;
      transition: all 0.2s linear;

      &:hover {
        color: $LeafyGreen;
      }
    }
  }

  &-contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    & a {
      color: $black;
      transition: all 0.2s linear;

      &:hover {
        color: $LeafyGreen;
      }
    }
  }
}

.hide {
  opacity: 1;
  animation-name: a1;
  animation-fill-mode: forwards;
}

@keyframes a1 {
  to {
    opacity: 0.5;
  }
}

.shopping-listCard {
  & li {
    height: 72px;
    position: relative;
    border-top: 1px solid $black;
    border-bottom: 1px solid $black;
    margin-bottom: 10px;
    list-style-type: none;
  }
}

.cart_list {
  &-img {
    height: 70px;
    padding: 0 20px;
  }

  &-text_block {
    position: absolute;
    top: 13px;
    left: 90px;
  }

  &-book_name {
    max-width: 212px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &-MrLss_block {
    display: flex;
    position: absolute;
    align-items: center;
    top: 50%;
    right: 8%;
    transform: translateY(-50%);
  }

  &-MrLss_block_style {
    background-color: rgba(0, 0, 0, 0);
    font-size: 25px;

    &:hover {
      cursor: pointer;
    }
  }

  &-count {
    font-size: 20px;
    padding: 0 10px;
  }
}

//                                                            POP UP

.popup-overlay {
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
}

.popup-container {
  background-color: $WhiteCol;
  padding: 30px 30px 60px;
  max-width: 350px;
  width: 100%;
  border-radius: 4px;
  position: relative;
}

.expireCVV {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.form-group {
  margin-bottom: 15px;
  text-align: center;

  & label {
    display: block;
    font-weight: 600;
    margin-bottom: 5px;
  }

  & input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    background-color: $WhiteCol;
    border: 1px solid $TransparentGrey;
    color: $GreyCol;

    &::placeholder {
      color: $TransparentGrey;
    }
  }

  & input[id="card-number"] {
    width: 100%;
    padding: 10px 60px 10px 10px;
    font-size: 18px;
    background-color: $WhiteCol;
    border: 1px solid $TransparentGrey;
  }
}

.button-container {
  text-align: right;
}

.pay-button {
  position: absolute;
  padding: 10px 30px;
  border: none;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  background-color: $LeafyGreen;
  color: $WhiteCol;
  cursor: pointer;
  transition: all 0.2s linear;

  &:hover {
    color: $LeafyGreen;
    background-color: $TransparentLightGrey;
  }

  &.wrong_amount {
    background-color: $Red;
    animation: wrongAM 0.3s linear 5 1s;
    pointer-events: none;
  }
}

@keyframes wrongAM {
  0% {
    transform: translateX(-50%);
  }
  30% {
    transform: translateX(-55%);
  }
  60% {
    transform: translateX(-50%);
  }
  90% {
    transform: translateX(-45%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: transparent;
  border: none;
  color: $black;
  font-size: 18px;

  &:before {
    content: "X";
    font-weight: 600;
    cursor: pointer;
  }
}

#amount {
  color: #2c2c2c;
  background-color: $TransparentLightGrey;
  padding: 8px;
  border: none;
  font-weight: bold;
  pointer-events: none;
}

.spinner-loader {
  width: 40px;
  height: 40px;
  border: 4px solid $WhiteCol;
  border-top: 4px solid $LeafyGreen;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  position: absolute;
  bottom: 15px;
  left: 46%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 1430px) {
  .container {
    max-width: 990px;

    &-bigger {
      max-width: 1050px;
    }

    &-slider {
      max-width: 930px;
    }
  }

  .btn {
    &-container {
      position: absolute;
      bottom: 0;
      width: 120px;
      height: 0;
      padding: 0;
      background-color: none;
      transition: none;
      filter: none;
      cursor: pointer;
    }
  }
  .catalog {
    &-nav {
      flex-wrap: wrap;
    }
  }

  .paragraf {
    &-shopAll {
      font-weight: 600;
      font-family: "Montserrat", sans-serif;
      font-size: 30px;
      text-decoration: underline;
      &:hover {
        color: $LeafyGreen;
      }
      text-transform: lowercase;
    }
  }

  .product {
    &-columns {
      grid-template-columns: 1fr 1fr;
      justify-items: center;
      position: relative;
      padding-bottom: 50px;
    }
  }

  .img {
    &-arrow {
      display: none;
    }
  }
}

@media screen and (max-width: 1065px) {
  .container {
    max-width: 665px;

    &-bigger {
      max-width: 765px;
    }

    &-slider {
      max-width: 760px;
    }
  }

  .info {
    &-about_us_gr {
      grid-template-columns: 1fr 1fr;
      gap: 30px;
      grid-template-rows: 1fr 1fr;
      align-items: center;
    }
  }

  .img {
    &-sail_books {
      max-width: 230px;
      max-height: 316px;
    }

    &-books_branch {
      height: 690px;
    }
  }

  .product {
    &-columns {
      grid-row-gap: 50px;
      gap: 30px;
    }
  }
  .product {
    &-container,
    &-container-ctlg {
      max-width: 320px;
      width: 100%;
      height: 570px;
      padding: 45px;
    }
  }
  .img {
    &-sail_books {
      max-width: 240px;
      max-height: 335px;
    }
  }
  .spasing {
    &-book_author_name {
      margin: 50px 0 37px 0;
    }
  }

  .price_blok {
    grid-column-gap: 150px;
  }

  .name-book {
    width: 244px;
  }
}

@media screen and (max-width: 840px) {
  .container {
    max-width: 475px;

    &-bigger {
      max-width: 455px;
    }

    &-slider {
      max-width: 280px;
    }
  }

  .spasing {
    &-general {
      margin-bottom: 70px;
    }
  }

  .btn {
    &-add_to_cart {
      width: 26px;
      height: 26px;
    }
  }

  .name {
    &-book {
      width: 160px;
      top: -20px;
    }
    &-author {
      width: 160px;
    }
  }

  .img {
    &-books_branch {
      width: 100%;
    }

    &-sail_books {
      max-width: 150px;
      max-height: 208px;
    }

    &-sail_cart {
      font-size: 28px;
    }

    &-logo {
      font-size: 30px;
      margin-right: 20px;
    }
  }

  .paragraf {
    &-shopAll {
      max-width: 80px;
    }

    &-rotate2023 {
      width: 21px;
      top: 12%;
      left: 75%;
      transform: translate(-25%, -88%);
    }
  }

  .montserat {
    font-size: 20px;

    &-numbOfProduct {
      font-size: 10px;
    }

    &-Regular_black {
      font-size: 18px;
    }

    &-Regular_green_small {
      font-size: 14px;
    }

    &-Regular_black_title {
      font-size: 30px;
    }

    &-SemiBold_black_main_title {
      font-size: 50px;
    }

    &-SemiBold_green {
      font-size: 18px;
    }

    &-SemiBold_black {
      font-size: 18px;
    }

    &-sail {
      font-size: 14px;
    }

    &-footer {
      font-size: 16px;
    }

    &-cardLi {
      @extend .montserat;
      font-size: 14px;
    }
  }

  .inter {
    font-size: 20px;
  }

  .title {
    &-place {
      width: 330px;
      top: 30%;
      left: 45%;
      transform: translate(-55%, -70%);
    }
  }

  .product {
    &-columns {
      grid-row-gap: 30px;
      gap: 15px;
      padding-bottom: 0;
    }

    &-container {
      max-width: 224px;
      height: 404px;
      padding: 36px;
    }
  }

  .price_blok {
    height: 26px;
    grid-column-gap: 90px;
  }

  .shopAll_center {
    width: 80px;
    margin-top: 50px;
  }

  .footer {
    padding: 100px 0;

    &-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }

    &-link {
      width: 100%;
      padding-bottom: 50px;
      align-self: center;
      text-align: center;

      & i {
        font-size: 60px;
      }
    }
  }

  .advertising_block {
    max-height: 250px;

    &-column {
      max-height: 250px;

      & > img {
        display: none;
      }

      &:nth-child(2) {
        height: 250px;
        background: url(../Images/Store_images/JhonBook_Barnch.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position-x: -150px;
      }
    }

    &-paragraph {
      left: 53%;
      transform: translate(-47%, -50%);
    }
  }

  .slick {
    &-arrow {
      &.slick-next {
        right: -10%;
      }

      &.slick-prev {
        left: -10%;
      }
    }
  }
}
